<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% messages.forEach((message) => { %>
      <li>
        <strong><%= message.user %>:</strong> <%= message.text %> - <%=
        message.added %>
      </li>
      <% }); %>
    </ul>
    <a href="/new"><button>Add A new message</button></a>
  </body>
</html>
